.btn{
    border-radius: 30px;
  }
  .navbar-custom{
    background-color:saddlebrown;
  }

    .carousel-inner img{
        width: 100%;
        height: 450px;
    }
  .thumb{
          margin-bottom: 50px;
  }
  .page-top{
      margin-top:30px;
      margin-bottom:30px ;
  } 
  img.zoom {
      width: 100%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
  }
  .transition {
      -webkit-transform: scale(1.2); 
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.1);
  }